body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/items/notebook-paper-1806473_1280.jpg);
    background-repeat: no-repeat;
    background-size:cover;   
}


header {

    background-color: #0079BF;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(51, 50, 50);
    text-shadow: 1px 1px 10px rgb(51, 50, 50) ;
    font-family: 'Rubik', sans-serif;
   
}



button {
    border-radius: 50px;
    background-color: #0088fffe;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    

}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #17a8fc;
    transition: 0.5s;
}

.lists-container {
    display: flex;
}

.list {
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 10px;
    width: 250px;
    padding: 10px;
    box-shadow: 1px 1px 10px rgb(51, 50, 50);
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title {
    font-weight: bold;
}

.list-delete {
    color: red;
    cursor: pointer;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-delete {
    color: red;
    cursor: pointer;
}

